<%- include('partials/header') %>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>

    <main class="my-container">
        <div class="row utility-row">
            <div class="col-sm-4">
                <h3>Add Images</h3>
                <form action="/account" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="text" name="caption" class="form-control" placeholder="Caption" autocomplete="off" required>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="formFile" type="file" name="avatar" required>
                    </div>
                    <button type="submit" id="add-btn" class="btn btn-primary btn-full-width" name="objects" onclick="">Add Photo</button>
                </form>
            </div>
            <div class="col-sm-4">
                <h3>Credits</h3>
                <h5>Current Number of Credits:
                    <%= user.credits %>
                </h5>
                <button type="submit" class="btn btn-success btn-full-width" id="checkout-button">Add Credits</button>
            </div>
            <div class="col-sm-4">
                <h3>Account Settings</h3>
                <h5>Email:
                    <%= user.email %>
                </h5>
                <form action="/logout" method="get" class="logout-btn">
                    <button type="submit" class="btn btn-danger btn-full-width">Log Out</button>
                </form>
                <form action="/purchaseHistory" method="get">
                    <button type="submit" class="btn btn-primary btn-full-width">Purchase History</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form action="/delete" method="post">
                    <h2>Your Images</h2>
                    <p>The images you own but are not selling.</p>
                    <div class="row image-grid">
                        <% let ownImgCounter = 0 %>
                            <% user.ownImages.reverse().forEach(function(image) { %>
                                <% const imgBase64Data = image.img.data.toString('base64') %>
                                    <% if (!image.sellImg) { %>
                                        <% ownImgCounter += 1 %>
                                            <div class="col-sm-4 col-md-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="photo-container">
                                                            <input type="checkbox" value="<%= image._id %>" class="checkmark form-check-input checkmark-account" name="checkbox">
                                                            <a target="_self">
                                                                <img class="img-responsive center-block account-img" 
                                                                src="data:<%= image.img.contentType %>;base64,<%= imgBase64Data %>" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <%= computeCaption(image.caption) %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% }) %>
                    </div>

                    <% if (ownImgCounter === 0) { %>
                        <div class="alert alert-dark" role="alert">
                            You have no photos you own. Upload photos using the form above to get started storing your images on ImageRepo!
                        </div>
                        <% } %>
                            <h2>Images For Sale</h2>
                            <p>The images you are selling.</p>
                            <div class="row image-grid">
                                <% let sellImgCounter = 0 %>
                                    <% user.ownImages.reverse().forEach(function(image) { %>
                                        <% const imgBase64Data = image.img.data.toString('base64') %>
                                            <% if (image.sellImg) { %>
                                                <% sellImgCounter += 1 %>
                                                    <div class="col-sm-4 col-md-4">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="photo-container">
                                                                    <input type="checkbox" value="<%= image._id %>" class="checkmark form-check-input checkmark-account" name="checkbox">
                                                                    <a target="_self">
                                                                        <img class="img-responsive center-block account-img" 
                                                                        src="data:<%= image.img.contentType %>;base64,<%= imgBase64Data %>" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="panel-footer">
                                                                <%= computeCaption(image.caption) %>
                                                            </div>
                                                            <div class="panel-footer">
                                                                Price:
                                                                <%= image.price %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% }) %>
                            </div>
                            <% if (sellImgCounter === 0) { %>
                                <div class="alert alert-dark" role="alert">
                                    You have no photos you are selling. Go to the <a href="/sell-img" class="alert-link">sell images</a> page to get started!
                                </div>
                                <% } %>
                                    <div class="row">
                                        <div class="col">
                                            <button id="select-img-btn" type="button" class="btn btn-secondary btn-full-width">Select Images</button>
                                        </div>
                                        <div class="col">
                                            <button id="delete-img-btn" type="submit" class="btn btn-danger btn-full-width">Delete Selected Images</button>
                                        </div>
                                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <% let firstImage = user.ownImages[user.ownImages.length - 1] %>
                    <h2>Image Preview</h2>
                    <p>Click the images on the left to preview them.</p>
                    <% if (firstImage !== {} && firstImage !== undefined && firstImage.img !== undefined) { %>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a target="_self">
                                    <img id="previewImage" class="img-responsive center-block" 
                                    src="data:<%= firstImage.img.contentType %>;base64,<%= firstImage.img.data.toString('base64') %>" />
                                </a>
                            </div>
                            <div class="panel-footer" id="previewCaption">
                                <%= firstImage.caption %>
                            </div>
                        </div>
                        <a href="data:<%= firstImage.img.contentType %>;base64,<%= firstImage.img.data.toString('base64') %>" id="downloadBtn" download="<%= firstImage.caption %>">
                            <button class="btn btn-outline-primary btn-full-width">Download</button>
                        </a>
                        <% } %>
            </div>
        </div>

        <div id="loader-wrapper-id" class="">
            <span id="loader-id" class=""><span id="loader-inner-id" class=""></span></span>
        </div>

        <% function computeCaption(caption) { %>
            <% if ((caption.length) >= 35) { %>
                <% return (caption).substring(0, 35) + "..." %>
                    <% } %>
                        <% return caption %>
                            <% } %>

                                <script src="/js/account.js"></script>
    </main>

    <%- include('partials/footer') %>