<%- include('partials/header') %>

    <style>
        a {
            text-decoration: none;
            color: #000;
        }
        
        a:hover {
            color: #000;
        }
    </style>

    <main class="my-container">
        <h2>Pick the Images You Like!</h2>
        <p>Click on the images you would like to purchase!</p>

        <% let counter = 0 %>
            <% let totalCounter = 0%>
                <% images.forEach(function(image) { %>
                    <% if (image.sellImg && String(image.ownerUserID) !== String(userID.toString())) { %>
                        <% counter += 1 %>
                            <% totalCounter += 1 %>
                                <% if (counter === 1) { %>
                                    <div class="card-group">
                                        <% } %>
                                            <div class="card my-card">
                                                <a href="/buy-img/<%= image._id %>" target="_self" style="margin: auto;">
                                                                    <img class="card-img-top" src="data:<%= image.img.contentType %>;base64,<%= image.img.data.toString('base64') %>" style="height: 200px; width: 275px; object-fit: contain; margin: auto; padding: 15px;">
                                                                </a>
                                                <a href="/buy-img/<%= image._id %>" target="_self">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Price:
                                                            <%= image.price %>
                                                        </h5>
                                                        <p class="card-text">
                                                            <%= computeCaption(image.caption) %>
                                                        </p>
                                                    </div>
                                                </a>
                                                <div class="card-footer">
                                                    <small class="text-muted">Uploaded <%= image.timeText %></small>
                                                </div>
                                            </div>

                                            <% if (counter === 4 || (images.length - totalCounter) == 1) { %>
                                                <% counter = 0 %>
                                    </div>
                                    <% } %>
                                        <% } %>
                                            <% }) %>
    </main>
    <script src="/js/home.js"></script>

    <% function computeCaption(caption) { %>
        <% if ((caption.length) >= 105) { %>
            <% return (caption).substring(0, 105) + "..." %>
                <% } %>
                    <% return caption %>
                        <% } %>

                            <%- include('partials/footer') %>