<%- include('partials/header') %>

    <main>
        <div class="my-container">
            <h1>Purchase History</h1>
            <p>All of your image purchase history.</p>
        </div>
        <% if (purchaseHistoryArr.length === 0 || purchaseHistoryArr === undefined) { %>
            <div class="alert alert-dark row alert-margin" role="alert">
                Purchase or buy an image to get started.
            </div>
            <% } %>

                <% let type = "" %>
                    <% purchaseHistoryArr.forEach(function(purchase) { %>
                        <% if (purchase.purchaseType === "Sell") { %>
                            <% type = "Sold" %>
                                <% } else if (purchase.purchaseType === "Buy") { %>
                                    <% type = "Bought" %>
                                        <% } %>
                                            <div class="row purchase-row">
                                                <div class="col-sm-7">
                                                    <div class="panel panel-default panel-text-center">
                                                        <div class="panel-body">
                                                            <a target="_self">
                                                                <img class="img-responsive center-block purchase-img" 
                                                                    src="data:<%= purchase.img.contentType %>;base64,<%= purchase.img.data.toString('base64') %>" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <h2>Purchase Type:
                                                        <%= type %>
                                                    </h2>
                                                    <h5>Caption:
                                                        <%= purchase.caption %>
                                                    </h5>
                                                    <h5>Price:
                                                        <%= purchase.price %>
                                                    </h5>
                                                    <h5>Date
                                                        <%= type %>:
                                                            <%= purchase.timeText %>
                                                    </h5>
                                                </div>
                                            </div>
                                            <% }) %>
    </main>

    <%- include('partials/footer') %>