<%- include('partials/header') %>
    <style>
        .my-container {
            padding-right: 50px;
            padding-left: 50px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 120px;
        }
        
        .image-grid img {
            margin-bottom: 1rem;
        }
        
        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }
        
        .panel-default {
            border-color: #ddd;
        }
        
        .panel-body {
            padding: 15px;
        }
        
        .panel-footer {
            padding: 10px 15px;
            background-color: #f5f5f5;
            border-top: 1px solid #ddd;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        
        .image-grid img {
            margin-bottom: .75rem;
        }
        
        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        
        a {
            text-decoration: none;
            color: #000;
        }
        
        a:hover {
            color: #000;
        }
    </style>
    <main class="my-container">
        <div>
            <h1>Reverse Image Search</h1>
            <p>Upload an image and we will search for similar images on our platform!</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Uploaded Photo</h2>
                <% if (uploadPhoto === undefined || uploadPhoto === {}) { %>
                    <div class="alert alert-dark" role="alert">
                        Upload an image using the <strong>form below</strong> to get started.
                    </div>
                    <% } else { %>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img style="height: 280px; width: 400px; object-fit: contain;" alt="" class="img-responsive center-block img-styles" src="data:<%= uploadPhoto.img.contentType %>;base64,<%= uploadPhoto.img.data.toString('base64') %>" />
                            </div>
                        </div>
                        <% } %>
                            <form action="/reverseImageSearch" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <input class="form-control" id="formFile" type="file" name="avatar" required>
                                </div>
                                <button type="submit" id="add-btn" class="btn btn-primary" style="width: 100%;" name="objects">Add Photo</button>
                            </form>
            </div>
            <div class="col-sm-8">
                <h2>Search Results</h2>
                <% let display = true %>
                    <% if (uploadPhoto === undefined || uploadPhoto === {}) { %>
                        <% display = false %>
                            <div class="alert alert-dark" role="alert">
                                Upload an image using the <strong>form</strong> to get started.
                            </div>
                            <% } %>
                                <div class="row">
                                    <% let href = "" %>
                                        <% let styleA = "" %>
                                            <% if (display) { %>
                                                <% searchResults.forEach(function(image) { %>
                                                    <% if (!image.sellImg || (image.ownerUserID.toString() === userID.toString())) { %>
                                                        <% hr_ef = undefined %>
                                                            <% styleA = "pointer-events: none;" %>
                                                                <% } else { %>
                                                                    <% hr_ef = `/buy-img/${image._id}` %>
                                                                        <% styleA = "" %>
                                                                            <% } %>
                                                                                <div class="col-sm-4 col-md-4">
                                                                                    <a href="<%= hr_ef %>" style="<%= styleA %>">
                                                                                        <div class="panel panel-default">
                                                                                            <div class="panel-body">
                                                                                                <img style="height: 175px; width: 250px; object-fit: contain;" alt="" class="img-responsive center-block img-styles" src="data:<%= image.img.contentType %>;base64,<%= image.img.data.toString('base64') %>" />
                                                                                            </div>
                                                                                            <div class="panel-footer">
                                                                                                <% if ((image.caption.length) >= 35) { %>
                                                                                                    <%= (image.caption).substring(0, 35) + "..." %>
                                                                                                        <% } else { %>
                                                                                                            <%= image.caption %>
                                                                                                                <% } %>
                                                                                            </div>
                                                                                            <div class="panel-footer">
                                                                                                Uploaded:
                                                                                                <%= image.timeText %>
                                                                                            </div>
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                                <% }) %>
                                                                                    <% } %>
                                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>