<%- include('partials/header') %>
    <style>
        a {
            text-decoration: none;
            color: #000;
        }
        
        a:hover {
            color: #000;
        }
    </style>

    <main class="my-container">
        <div>
            <h1>Reverse Image Search</h1>
            <p>Upload an image and we will search for similar images on our platform!</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Uploaded Photo</h2>
                <% if (uploadPhoto === undefined || uploadPhoto === {}) { %>
                    <div class="alert alert-dark" role="alert">
                        Upload an image using the <strong>form below</strong> to get started.
                    </div>
                    <% } else { %>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img class="img-responsive center-block reverse-preview-img" src="data:<%= uploadPhoto.img.contentType %>;base64,<%= uploadPhoto.img.data.toString('base64') %>" />
                            </div>
                        </div>
                        <% } %>
                            <form action="/reverseImageSearch" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <input class="form-control" id="formFile" type="file" name="avatar" required>
                                </div>
                                <button type="submit" id="add-btn" class="btn btn-primary btn-full-width" name="objects">Add Photo</button>
                            </form>
            </div>
            <div class="col-sm-8">
                <h2>Search Results</h2>
                <% let display = true %>
                    <% if (uploadPhoto === undefined || uploadPhoto === {}) { %>
                        <% display = false %>
                            <div class="alert alert-dark" role="alert">
                                Upload an image using the <strong>form</strong> to get started.
                            </div>
                            <% } %>
                                <div class="row">
                                    <% let href = "" %>
                                        <% let styleA = "" %>
                                            <% if (display) { %>
                                                <% searchResults.forEach(function(image) { %>
                                                    <% if (!image.sellImg || (image.ownerUserID.toString() === userID.toString())) { %>
                                                        <% hr_ef = undefined %>
                                                            <% styleA = "pointer-events: none;" %>
                                                                <% } else { %>
                                                                    <% hr_ef = `/buy-img/${image._id}` %>
                                                                        <% styleA = "" %>
                                                                            <% } %>
                                                                                <div class="col-sm-4 col-md-4">
                                                                                    <a href="<%= hr_ef %>" style="<%= styleA %>">
                                                                                        <div class="panel panel-default">
                                                                                            <div class="panel-body">
                                                                                                <img class="img-responsive center-block reverse-img" src="data:<%= image.img.contentType %>;base64,<%= image.img.data.toString('base64') %>" />
                                                                                            </div>
                                                                                            <div class="panel-footer">
                                                                                                <%= computeCaption(image.caption) %>
                                                                                            </div>
                                                                                            <div class="panel-footer">
                                                                                                Uploaded:
                                                                                                <%= image.timeText %>
                                                                                            </div>
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                                <% }) %>
                                                                                    <% } %>
                                </div>
            </div>
        </div>
    </main>

    <% function computeCaption(caption) { %>
        <% if ((caption.length) >= 35) { %>
            <% return (caption).substring(0, 35) + "..." %>
                <% } %>
                    <% return caption %>
                        <% } %>

                            <%- include('partials/footer') %>