<%- include('partials/header') %>

    <style>
        a {
            text-decoration: none;
            color: #000;
        }
        
        a:hover {
            color: #000;
        }
    </style>

    <main class="my-container">
        <h1>Search</h1>
        <h6>Showing search results for the phrase "
            <%= searchQuery %>". Try the <a href="/reverseImageSearch" class="text-primary">reverse image search</a> to search by image.</h6>
        <div class="row" style="margin-top: 20px;">
            <h2 class="margin-h2">Your Images</h2>
            <div class="row image-grid">
                <% let ownImgCounter = 0 %>
                    <% searchResults.reverse().forEach(function(image) { %>
                        <% const imgBase64Data = image.img.data.toString('base64') %>
                            <% if (!image.sellImg && (image.ownerUserID.toString() === userID.toString())) { %>
                                <% ownImgCounter += 1 %>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <img class="img-responsive center-block img-styles search-img" src="data:<%= image.img.contentType %>;base64,<%= imgBase64Data %>" />
                                            </div>
                                            <div class="panel-footer">
                                                <%= computeCaption(image.caption) %>
                                            </div>
                                            <div class="panel-footer">
                                                Uploaded:
                                                <%= image.timeText %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% }) %>
            </div>

            <% if (ownImgCounter === 0) { %>
                <div class="alert alert-dark" role="alert">
                    You have no photos you own that match this query. Upload photos at the <a href="/account" class="alert-link">accounts page</a> to get started.
                </div>
                <% } %>

                    <h2 class="margin-h2">Images For Sale</h2>
                    <div class="row image-grid">
                        <% let sellImgCounter = 0 %>
                            <% let hr_ef = "" %>
                                <% let style = "" %>
                                    <% let render = false %>
                                        <% searchResults.reverse().forEach(function(image) { %>
                                            <% const imgBase64Data = image.img.data.toString('base64') %>
                                                <% if (image.sellImg && !(image.ownerUserID.toString() === userID.toString())) { %>
                                                    <% render = true %>
                                                        <% hr_ef = `/buy-img/${image._id}` %>
                                                            <% style = "" %>
                                                                <% } else if (image.sellImg) { %>
                                                                    <% render = true %>
                                                                        <% hr_ef = undefined %>
                                                                            <% style = "pointer-events: none;" %>
                                                                                <% } %>
                                                                                    <% if (render) { %>
                                                                                        <% sellImgCounter += 1 %>
                                                                                            <div class="col-md-6">
                                                                                                <a href="<%= hr_ef %>" style="<%= style %>" target="_self">
                                                                                                    <div class="panel panel-default">
                                                                                                        <div class="panel-body">
                                                                                                            <img class="img-responsive center-block search-img" src="data:<%= image.img.contentType %>;base64,<%= imgBase64Data %>" />
                                                                                                        </div>
                                                                                                        <div class="panel-footer">
                                                                                                            <%= computeCaption(image.caption) %>
                                                                                                        </div>
                                                                                                        <div class="panel-footer">
                                                                                                            Price:
                                                                                                            <%= image.price %>
                                                                                                        </div>
                                                                                                        <div class="panel-footer">
                                                                                                            Uploaded:
                                                                                                            <%= image.timeText %>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </div>
                                                                                            <% } %>
                                                                                                <% render = false %>
                                                                                                    <% }) %>
                    </div>
                    <% if (sellImgCounter === 0) { %>
                        <div class="alert alert-dark" role="alert">
                            There are no photos on ImageRepo that match this query. Upload photos at the <a href="/account" class="alert-link">accounts page</a> to get started.
                        </div>
                        <% } %>
        </div>
    </main>

    <% function computeCaption(caption) { %>
        <% if ((caption.length) >= 35) { %>
            <% return (caption).substring(0, 35) + "..." %>
                <% } %>
                    <% return caption %>
                        <% } %>

                            <%- include('partials/footer') %>