<%- include('partials/header') %>

    <main class="my-container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form action="/sell-img" method="post">
                    <h2>Your Images</h2>
                    <p>Select the image you want to sell.</p>
                    <div class="row image-grid">
                        <% let imgCounter = 0 %>
                            <% user.ownImages.reverse().forEach(function(image) { %>
                                <% if (!image.sellImg && !(image._id.toString() === currentSellImg._id.toString())) { %>
                                    <% imgCounter += 1 %>
                                        <div class="col-sm-4 col-md-4">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="photo-container">
                                                        <input type="checkbox" value="<%= image._id %>" class="checkmark form-check-input" name="checkbox" onchange="this.form.submit()">
                                                        <a target="_self"><img class="img-responsive center-block account-img" 
                                                                            src="data:<%= image.img.contentType %>;base64,<%= image.img.data.toString('base64') %>" /></a>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <%= image.caption %>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% }) %>
                    </div>
                    <% if (imgCounter === 0) { %>
                        <div class="alert alert-dark" role="alert">
                            You have no other photos you own. Upload photos at the <a href="/account" class="alert-link">account page</a> to get started selling your images on ImageRepo!
                        </div>
                        <% } %>
                </form>
            </div>

            <div class="col-6 col-md-4">
                <h2>Image To Sell</h2>
                <p>Set the details of the image you want to sell.</p>
                <% if (currentSellImg.img !== undefined) { %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a target="_self"><img class="img-responsive center-block sell-img-preview " 
                                src="data:<%= currentSellImg.img.contentType %>;base64,<%= currentSellImg.img.data.toString('base64') %>" /></a>
                        </div>
                        <div class="panel-footer">
                            <%= currentSellImg.caption %>
                        </div>
                    </div>
                    <form action="/addSellImg" method="post">
                        <div class="mb-3 row">
                            <label for="inputCaption" class="col-sm-4 col-form-label">Set Credit Price:</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="inputCaption" name="creditPrice" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-full-width" name="_id" value="<%= currentSellImg._id %>">Sell Image!</button>
                    </form>
                    <% } %>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>