<%- include('partials/header') %>

    <style>
        .my-container {
            margin-top: 0;
        }
        
        .success-container {
            padding-top: 115px;
        }
    </style>

    <main class="">
        <div class="jumbotron my-container bg-success success-container">
            <h1 class="display-4">Success!</h1>
            <p class="lead">You successfully bought this photo! See the details below.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/account" role="button">See your images!</a>
            </p>
            <hr class="my-4">
        </div>

        <div class="row my-container">
            <div class="col-md-7">
                <h1>Image</h1>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a target="_self">
                                <img class="img-responsive center-block main-buy-img" 
                                src="data:<%= buyImg.img.contentType %>;base64,<%= buyImg.img.data.toString('base64') %>" /></a>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <h1>Information</h1>
                <h3 class="image-info">Caption:
                    <span class="text-muted font-weight"><%= buyImg.caption %></span>
                </h3>
                <h3 class="image-info">Price Paid:
                    <span class="text-muted font-weight"><%= buyImg.price %></span>
                </h3>
                <h3 class="image-info">
                    Uploaded:
                    <span class="text-muted font-weight"><%= buyImg.timeText %></span>
                </h3>
                <form action="/home">
                    <button type="submit" class="btn btn-lg btn-secondary btn-full-width">See More Images!</button>
                </form>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>